STRINGTABLE
{
 1, "Организация"
 2, "Пользователь" 
 3, "Пароль"
 4, "Язык интерфейса"
5, "Авторизация"
6, "Вход"
7, "Выход"
8, "Закупка и реализация"
 9, "Справочники" 
 10, "Бухгалтерия"
 11, "Отчеты"
12, "Сообщения клиентов"
13, "Оповещения"
14, "Настройки"
15, "Основные"
16, "Структура"
17, "Страны"
18, "Типы"
19, "Плантации"
20, "Сорта"
21, "Добавить группу"
22, "Добавить"
23, "Редактировать"
24, "Удалить"
25, "Восстановить"
26, "Обновить"
27, "Международное"
28, "Русское"
29, "Сохранить"
30, "Далее"
31, "Назад"
32, "Выбрать"
33, "Номенклатура"
34, "Испанское"

 1001, "Organizacion"
 1002, "User"
 1003, "Password"
 1004, "Interface language"
1005, "Authorization"
1006, "Entry"
1007,"Exit"
 1008, "Purchase and realization"
 1009, "Directory"
 1010, "Accounts Department"
 1011, "Report"
1012, "Messages of clients"
1013, "Alert"
1014,"Setting"
1015, "Main"
1016, "Structure"
1017, "Country"
1018, "Type"
1019, "Plantation"
1020, "Sort"
1021, "Add group"
1022, "Add"
1023, "Edit"
1024, "Delete"
1025, "Restore"
1026, "Update"
1027, "International"
1028, "Russian"
1029, "Save"
1030, "Further"
1031, "Back"
1032, "Select"
1033, "Products"
1034, "Spanish"

 2001, "Las organizaciones"
 2002, "Usuario"
2003, "Consigna"
2004, "La lengua de la interfaz"
2005, "Autorizacion"
2006, "Acceso"
2007, "Entrada"
 2008, "La compra y la realizacion"
 2009, "Guia"
 2010, "Contabilidad"
 2011, "Informe"
2012, "Los mensajes de los clientes"
2013, "Aviso"
2014,"Ajuste"
2015,"Basicos"
2016, "Estructura"
2017, "Pais"
2018, "Tipo"
2019, "Plantacion"
2020, "Clase"
2021, "Anadir el grupo"
2022, "Anadir"
2023, "Cambiar"
2024, "Quitar"
2025, "Restablecer"
2026, "Renovar"
2027, "Internacional"
2028, "Ruso"
2029, "Conservar"
2030, "Adelante"
2031, "Atras"
2032, "Escoger"
2033, "La produccion"
2034, "Espanol"

}